@charset "utf-8";
body, html {
	color: #000;
	font-family: tahoma, 'Microsoft yahei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased
}
html {
	font-size:16px;
	height:100%;
}
body {
  background-color: #fff;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	text-align:center;
	height:100%;
	color: #fff;
}
body,div,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,a {
    margin: 0;
    padding: 0;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box
}
li {
	list-style: none;
	-webkit-tap-highlight-color:transparent; 
  -webkit-user-select:none; 
}
a {
  color:#fff;
  text-decoration: none;
  background-color: transparent;
	-webkit-tap-highlight-color:transparent; /*解决Safari 点击时 标签文本被选中，有底色*/
    -webkit-user-select:none; 
}
a:active,
a:hover{
  outline: 0;
	text-decoration:none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100% !important;
	vertical-align: middle;
	border: 0;
}
.img-circle{
	border-radius:50%;
}
.pull-left{
	float:left;	
}
.pull-right{
	float:right;	
}
.text-right{
	text-align:right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}

/*表单*/
input,
button,
textarea{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none; 
  background-color: transparent;
	-webkit-tap-highlight-color:transparent; /*点击时标签不加亮，没背景色*/
    -webkit-user-select:none; 
}
button{
	border:none;
	overflow:visible;	
}
.gemdale-wrap{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.bg01{
	background-color: #0A0B0A;	
}
.logo02,
.logo01{
	position: fixed;
	top: 5vw;
	left: 5vw;
	height: 8vw;
}
.logo02{
	left: auto;
	right: 5vw;
}
.text-frame01{
	position: fixed;
	top: 28vw;
	right: 11vw;
	height: 51vw;
	-webkit-animation:tframe01 1s linear forwards;
}
@-webkit-keyframes tframe01{
	0% {-webkit-transform:translateX(33px); opacity:0.5}
	100% { -webkit-transform:translateX(0); opacity:1.0}
}
.text-m01{
	position: fixed;
	top: 36vw;
	right: 16vw;
	text-align: right;
	font-size: 3.7vw;
	line-height: 1.6;
	-webkit-animation:text01 1s linear forwards;
	letter-spacing: 3px;
}
@-webkit-keyframes text01{
	0% {-webkit-transform:translateX(-50px); opacity:0.5}
	100% { -webkit-transform:translateX(0); opacity:1.0}
}
.mansion{
	position: fixed;
	top: 58vw;
	right: 15.7vw;
	height: 8vw;
	-webkit-animation:tframe01 0.8s linear forwards;
}
.moveup{
	position: fixed;
	bottom: 15vw;
	left: 50%;
	margin-left: -6vw;
	width: 12vw;
}
.largeTitle{
	font-size: 3.7vw;
}
.text-m02{
	position: fixed;
	top: 52.8vw;
	right: 17vw;
	text-align: right;
	font-size: 3vw;
	line-height: 1.8;
	-webkit-animation:text02 1s 0.5s linear forwards;
	opacity:0;
}
@-webkit-keyframes text02{
	0% {-webkit-transform:translateX(-60px); opacity:0}
	100% { -webkit-transform:translateX(0); opacity:1.0}
}

.move-left{
	position: fixed;
	bottom: 15vw;
	left: 50%;
	margin-left: -26vw;
	width: 52vw;
}

/*覆盖*/
.tm-left{
	right: auto;
	left: 17vw;
	text-align: left;
	letter-spacing: 2px;
	-webkit-animation:text01-left 1s linear forwards;
}
@-webkit-keyframes text01-left{
	0% {-webkit-transform:translateX(50px); opacity:0.5}
	100% { -webkit-transform:translateX(0); opacity:1.0}
}

.tf-left{
	right: auto;
	left: 11vw;
}

.ms-left{
	right:auto;
	left: 15.5vw;
}
.l02{
	top: 65vw;
}

/* 表单 */
.m-form{
	padding: 0;
	background-color: #fff;
  }
  .m-form li{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	border-bottom: 1px dashed #D38A8D;
	margin:20px 0;
  }
  .m-form li > label{
	  display: block;
	  padding:1px;
	  background-color: #fff;
	  border:1px solid #B01F25;
	  border-radius: 8px;
  }
  .m-form li > label em{
	background-color: #B01F25;
	display: block;
	border-radius: 8px;
	font-size: 14px;
	text-align: center;
	padding: 3px 12px;
  }
  .m-form li > div{
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
  }
  .m-form li input[type=date],
  .m-form li input[type=text]{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	width: 100%;
	border: none;
	color: #666;
	padding: 3px 12px;
  }
  .m-form li button{
	width: 1.5rem;
	height: .52rem;
	background-color: #2E6CF5;
	border-radius: .26rem;
	color: #fff;
	font-size: .24rem;
	text-align: center;
	margin-right: .1rem;
  }
  .gem-form{
	  position: fixed;
	  border-radius: 10px;
	  padding:28px 8px 8px;
	  background-color: #C11920;
	  top: 50%;
	  left: 50%;
	  width:80%;
	  -webkit-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	  z-index: 99;
  }
  .gem-form .title h3{
	  font-weight: normal;
	  padding: 5px 0 0;
  }
  .gem-form .title h5{
	  font-weight: normal;
	  padding: 5px 0 10px;
	  font-size: 20px;
  }
  .gem-form .title span{
	  display: block;
	  width: 70px;
	  margin: 0 auto;
	  border:1px solid #fff;
	  border-radius: 3px;
	  padding:1px 3px;
  }
  .gem-form .pcontent{
	  margin-top: 18px;
	  padding: 35px 25px;
	  background-color: #fff;
  }
  .gem-form .share-wrap{
	  text-align: center;
	  padding: 20px 0 0;
  }
  .gem-form .share-wrap .btn-share{
	  padding: 10px 10px 12px;
	  text-align: center;
	  width: 80%;
	  margin: 0 auto;
	  border-radius: 8px;
	  box-shadow: 3px 3px 0 rgba(51, 51, 51, 0.3);
	  background-color: #B51C21;
	  color: #fff;
  }
.close{
	position: absolute;
	top:-10vw;
	right: 0;
	width: 7vw;
	height: 7vw;
}
.popup{
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: none;
}

/*coupon*/
.coupon{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 76vw;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 99;
	background-color: #fff;
	min-height: 210px;
	background-color: #D3292A;
}
.coupon .c-bottom,
.coupon .c-top{
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
}
.coupon .c-bottom{
	top: auto;
	bottom: -5px;
}
/* 抵用券 */
.c-box{
	padding: 0 0 22px;
}
.c-box .h3title{
	font-size: 24px;
	padding: 5vw 0;
	font-weight: normal;
	letter-spacing: 5px;
	color: #e8d1c9;
	background: #E22A2A;
	position: relative;
}
.c-box .h3title::before,
.c-box .h3title::after{
	content: '';
	height: 1px;
	width: 13vw;
	position: absolute;
	top: 9vw;
	right: 59vw;
	background: #DDA7A0;
}
.c-box .h3title::before{
	right: auto;
	left: 57vw;
}
.c-box .money{
	padding:0 5px;
}
.c-box .c-dot{
	padding: 2px 0;
	font-size: 8px;
	line-height: 0.8;
}
.c-box .c-dot em{
	font-style: normal;
	display: block;
}
.c-box .c-title01{
	font-style: normal;
	display: block;
	font-size: 15px;
	padding: 2px 0;
	letter-spacing: 2px;
}
.c-box .c-title03{
	font-style: normal;
	display: block;
	font-size: 10px;
	padding: 2px 0;
}
.c-box .c-title02{
	font-style: normal;
	display: block;
	font-size: 10px;
	padding: 2px 5px;
}
.c-box .c-title02 em{
	margin-right: 5px
}
.c-box .hdsm{
	padding: 16px 0;
}
.c-largeTitle{
	font-size: 22px;
	letter-spacing: 3px;
	padding: 12px 0 0;
}
.caibox{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 76vw;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 99;
	min-height: 210px;
}
.mny{
	display: none;
}
.a-box{
	position: fixed;
	top: 100vw;
	left: 50%;
	width: 85vw;
	-webkit-transform: translate(-50%, -50%);
	z-index: 99;
}
.pan{
	position: absolute;
	top: 11vw;
	left: 50%;
	width: 60vw;
	margin-left: -30vw;
	-webkit-transition: all 4s;
	transition: all 4s;
}
.cct{
	position: absolute;
	top: 31vw;
	left: 50%;
	width: 18vw;
	margin-left: -9vw;
	z-index: 9;
}
.mr01{
	top: 32vw;
}
.mr02{
	top: 47vw;
}
.mr03{
	top: 64.1vw;
}
.idx{
	right: 20vw;
}
.al02{
	-webkit-animation:al02 1s 0.5s linear forwards;
}
@-webkit-keyframes al02{
	0% {-webkit-transform:translateX(60px); opacity:0}
	100% { -webkit-transform:translateX(0); opacity:1.0}
}